.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo {
    width: 170px;
}

.nav-items > ul {
    display: flex;
    font-size: 15px
}
.nav-items {
    padding: 50px 20px;

}
.nav-items > ul > li {
    
    margin: 10px;
    list-style-type: none;
}